form {
    margin-top: 60px;
}

h3 {
    color: whitesmoke;
    margin-top: 75px;
}

label {
    color: whitesmoke;
}

.btn-primary {
    margin-top: 25px;
    background-color: #efb1f2
}

.form-group {
    width: 500px;
    margin: 15px auto auto auto;
}