.App {
  text-align: center;
  background-color: #242222;
}

html {
  background-color: #242222;
}

/* =============== Color Scheme =============== */
/* slate grey - #242222
whitesmoke - #f5f5f5
pink - #efb1f2
blue - #4cdbf6
light grey - #c4c4c4
black - #000000
dark grey - #474747 */

/* =============== Fonts =============== */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
/* font-family: 'Oleo Script', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
/* font-family: 'Boogaloo', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
/* font-family: 'Oswald', sans-serif; */

/* =============== HomeNavigation Component =============== */

.me-auto {
  margin: auto;
}

#hamburger {
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;
  margin: auto;
}

.home-header {
  font-size: 40pt;
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
}

.home-layout {
  margin: 25px auto auto auto;
}

.home-flag-logo {
  height: 400px;
  width: 300px;
  margin-top: 45px;
}

.home-flag-quote {
  text-align: center;
  display: block;
  margin: 25px auto 125px 0;
  font-style: italic;
  font-size: 16pt;
  color: #f5f5f5;
}

.home-nav-dropdown {
  color: #f5f5f5;
  background-color: #efb1f2;
  border-radius: 15px;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* =============== SiteNavBar Component =============== */

.site-nav-layout {
  display: flex;
  justify-content: center;
  margin: 20px auto 50px auto;
}

.site-nav-link {
  color: #f5f5f5;
  font-family: "Oswald", sans-serif;
  font-size: 14pt;
}

.flag-icon {
  height: 30px;
  width: 30px;
}

/* =============== PlayerBios Component =============== */
.bio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 1500px;
  height: auto;
  margin: 75px auto 100px auto;
}

.player-bio-header {
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
  font-size: 38pt;
}

.player-cards {
  box-shadow: 0 0 20px 0 #f5f5f5, 0 0 20px 0 #f5f5f5;
  border-radius: 25px;
  background: transparent;
  margin: auto 5rem 5rem 5rem;
}

.bio-player-name {
  font-size: 30pt;
  font-family: "Boogaloo", cursive;
  color: #f5f5f5;
  width: 300px;
  margin: auto auto 0.75rem auto;
}

.socials {
  margin: 30px 0 -15px 0;
}

.social-icon {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.bio-pic {
  margin-top: 15px;
  height: 250px;
  width: 250px;
  box-shadow: 0 0 20px 0 #4cdbf6, 0 0 20px 0 #4cdbf6;
  border-radius: 20%;
}

.bio-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #f5f5f5;
  width: 250px;
}

.bio-info p {
  display: flex;
  justify-content: flex-start;
}

.bio-info-list {
  font-size: 14pt;
  padding: 0;
  color: #efb1f2;
  font-family: "Oswald", sans-serif;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio-list-detail {
  margin-left: 5px;
  font-size: 10pt;
  color: #c4c4c4;
  font-family: sans-serif;
}

.player-card-body {
  justify-content: center;
  margin: auto;
}

/* =============== PastRecipients Component =============== */

.past-recipient-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 90px;
  width: 1500px;
  height: 500px;
  margin: 75px auto 1175px auto;
}

.flag-winner-header {
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
  font-size: 38pt;
}

.flag-winner-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 14pt;
}

.flag-winner-card {
  box-shadow: 0 1px 1px #c4c4c4, 0 2px 2px #c4c4c4, 0 4px 4px #c4c4c4,
    0 8px 8px #c4c4c4, 0 10px 10px #c4c4c4;
  background-color: #e7e7e7d0;
  margin: auto 5rem 5rem 5rem;
}

.flag-winner-pic {
  height: 300px;
  width: 365px;
}

.scorecard-pic {
  height: 300px;
  width: 300px;
}

/* =============== BootWinner Component =============== */

.boot-winner-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width: 1500px;
  height: 500px;
  margin: 75px auto 50px auto;
}

.boot-winner-card {
  margin: auto 5rem 5rem 5rem;
  box-shadow: 0 1px 1px #c4c4c4, 0 2px 2px #c4c4c4, 0 4px 4px #c4c4c4,
    0 8px 8px #c4c4c4, 0 10px 10px #c4c4c4;
  background-color: #e7e7e7d0;
}

.boot-header {
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
  font-size: 38pt;
}

.pre-boot {
  margin-top: 2.5rem;
  color: #f5f5f5;
}

.boot-winner-title {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 12pt;
}

.boot-winner-pic {
  height: 22rem;
}

.boot-winners {
  margin-bottom: 100px;
}

/* =============== NextYearInsight Component =============== */

.predictions-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  width: 700px;
  height: 200px;
}

.our-predictions {
  border-radius: 35px;
  background-color: #4cdbf6;
  box-shadow: 0 1px 1px #c4c4c4, 0 2px 2px #c4c4c4, 0 4px 4px #c4c4c4,
    0 8px 8px #c4c4c4, 0 10px 10px #c4c4c4;
}

#prediction-name {
  color: black;
  font-size: 18pt;
  padding-top: 10px;
  font-family: "Oswald", sans-serif;
}

#prediction {
  color: #474747;
}

.list-group-item {
  background-color: yellow;
}

.insight-header {
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
  font-size: 38pt;
  margin-bottom: 35px;
}

.our-predictions p {
  color: #f5f5f5;
}

#exampleSelect {
  height: auto;
  width: 200px;
  margin-top: 20px;
  margin: auto;
  text-align: center;
}

.public-predictions {
  margin: 200px auto 200px auto;
  color: #f5f5f5;
  width: 1000px;
  display: inline-block;
  background-color: #c4c4c4;
  opacity: 0.95;
  background-blend-mode: lighten;
  border-radius: 10px;
}

.public-predictions h3 {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 30pt;
  margin-top: 45px;
  padding-bottom: 25px;
}

.table-headers {
  text-align: center;
  color: #000000;
}

.table td {
  color: #2b2b2b;
}

.insight-subhead {
  padding: 10px;
}

.prediction-link {
  background-color: #efb1f2;
  padding: 10px;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
}

.prediction-link:hover {
  background-color: #4cdbf6;
  text-decoration: none;
}

.prediction-nav p {
  color: #f5f5f5;
}

/* =============== History Component =============== */

.history-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85%;
  width: 90%;
  margin: auto;
  color: #f5f5f5;
}

.history-header {
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
  font-size: 38pt;
}

.history-content {
  text-align: center;
  height: 200px;
  width: 800px;
  display: block;
  margin: 75px auto auto auto;
  font-size: 14pt;
  font-family: "Oswald", sans-serif;
  line-height: 2;
}

.flag-quote {
  text-align: center;
  display: block;
  margin: 25px auto 125px auto;
  font-style: italic;
  font-size: 22pt;
}

.history-flag-logo {
  height: 400px;
  width: 300px;
  display: block;
  margin: 600px auto 100px auto;
}

/* =============== Rules Component =============== */

.rules-layout {
  margin: 75px auto 200px auto;
  height: 210rem;
  width: 75rem;
  color: #f5f5f5;
}

.rules-header {
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
  font-size: 38pt;
}

.rule-section {
  margin: 15px 0 50px 0;
}

.rule-name {
  display: flex;
  justify-content: flex-start;
  margin-left: 5rem;
}

.rules-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 650px;
  font-size: 12pt;
  font-family: "Oswald", sans-serif;
  line-height: 2;
}

.rules-list li {
  margin: 0.5rem;
}

/* =============== Graph Component =============== */

#prediction-chart {
  background-color: #f5f5f5;
  background: transparent;
  border-radius: 15px;
  color: #000000;
  height: fit-content;
  width: 700px;
  border: 5px solid #c4c4c4;
  margin-top: 45px;
}

svg {
  border-radius: 10px;
}

.k-chart-surface {
  background-color: pink;
  border-radius: 10px;
}

.players-public-picks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

#axis-title {
  margin-top: 10px;
}
