.App {
  text-align: center;
}

.bioParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin: 0 50px 0 50px;
}

.jordanBio {
  grid-area: 1 / 0 / 2 / 1;
}
.derrickBio {
  grid-area: 1 / 1 / 2 / 2;
}
.ryanBio {
  grid-area: 1 / 2 / 2 / 3;
}
.connorBio {
  grid-area: 2 / 0 / 3 / 1;
}
.grantBio {
  grid-area: 2 / 1 / 3 / 2;
}
.austinBio {
  grid-area: 2 / 2 / 3 / 3;
}

.player-bio-header {
  margin: 50px 0 75px 0;
}

.bio-card-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

p {
  justify-self: start;
  align-items: center;
}

img {
  height: 250px;
  width: 250px;
}