.App {
  text-align: center;
}

/* =============== BootWinner Component =============== */

.boot-winner-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width: 1500px;
  height: 500px;
  margin: 75px auto 100px auto;
}

/* =============== PlayerBios Component =============== */
.bio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 1500px;
  height: 200px;
  margin: 75px auto 100px auto;
}

.bio-pic {
  height: 250px;
  width: 250px;
}


.bio-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* =============== PastRecipients Component =============== */

.past-recipient-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 25px;
  width: 1500px;
  height: 500px;
  margin: 75px auto 175px auto;
}

.flag-winner-pic {
  height: 300px;
  width: 300px
}

.scorecard-pic {
  height: 300px;
  width: 300px;
}

/* =============== NextYearInsight Component =============== */

.predictions-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 1500px;
  height: 200px;
  margin: 75px auto 175px auto
}

/* =============== History Component =============== */

.history-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85%;
  width: 90%;
  margin: auto;
}

.history-content {
  text-align: center;
  height: 200px;
  width: 800px;
  display: block;
  margin: 75px auto auto auto ;
}

.flag-quote {
  text-align: center;
  display: block;
  margin: 25px auto 125px auto;
  font-style: italic;
  font-size: 22pt;
}

.history-flag-logo {
  height: 400px;
  width: 400px;
  display: block;
margin: auto auto 100px auto;
}

/* =============== Rules Component =============== */

